/* Nav Bar CSS */

/* Header CSS */

/* Section CSS */

.active {
    backgorund-color: pink;
}

body {
    background-color: pink;

}

#AboutMe {
    background-color: blue;
}

#Projects {
    background-color: turquoise;
}

#Contact {
    background-color: lightgreen;
}

img {
    height: 300px;
    width: 300px;
}

#Homepic{
    height:300px;
    width:300px;
    float: center;
    border-radius: 50%;
}

#Homecontent {
    font-weight: 900px;
    font-family: sans-serif;
}

/* About Section CSS */

/* Portfolio Item CSS */

/* Footer CSS */

/* Button CSS */
